{% extends 'layout/base.html.twig' %}

{% form_theme form 'form/errors.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="card-wrapper" style="width: 343px">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ '%_forgot_password_%'|trans }}</h4>

                    {{ form_start(form, {attr : {'class': 'my-login-validation'}}) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.email, '%_email_%'|trans|capitalize) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'required': true, 'autofocus': true}}) }}
                    </div>

                    <div class="g-recaptcha" data-sitekey="{{ app_recaptcha_key }}"></div>

                    <div class="form-group mt-2">
                        <div class="form-text text-muted" style="font-size: 0.8rem">
                            {{ '%_reset_password_text_%'|trans }}
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" formnovalidate>
                            {{ '%_reset_password_%'|trans|capitalize }}
                        </button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src={{ app_recaptcha_url }}></script>
{% endblock %}
