<tr>
    <th></th>
    <th>{{ equipment.subtype.name }}</th>
    <td>{{ equipment.name }}</td>
    <td>{{ equipment.cost }}</td>
    <td>{{ equipment.weight }}</td>
    <td>{{ equipment.info }}</td>
    <td>{{ equipment.damage }}</td>
    <td>{{ equipment.damageType }}</td>
    <td>{{ equipment.armorClass }}</td>
</tr>