{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">

            <table class="table table-sm">
                <thead>
                <tr class="table-primary">
                    <th colspan="2">Name</th>
                    <th>Cost</th>
                    <th>Weight</th>
                    <th>Properties</th>
                    <th>Damage</th>
                    <th>Damage Type</th>
                    <th>Armor Class</th>
                    <th>Min strength</th>
                    <th>Stealth</th>
                    <th>Carrying capacity</th>
                    <th>Speed</th>
                </tr>
                </thead>
                <tbody>
                {# @var type \App\Entity\DndEquipmentType #}
                {# @var subtype \App\Entity\DndEquipmentSubtype #}
                {# @var equipment \App\Entity\DndEquipment #}
                {% for type in types %}
                    <tr class="table-secondary">
                        <th colspan="13">{{ type.name }}</th>
                    </tr>
                    {% for subtype in type.subtypes %}
                        <tr class="">
                            <th colspan="13">{{ subtype.name }}</th>
                        </tr>
                        {% for equipment in subtype.equipments %}
                            <tr>
                                <th></th>
                                <th>{{ equipment.name }}</th>
                                <td>{{ equipment.cost|money }}</td>
                                <td title="{{ equipment.weight|kg }}">{{ equipment.weight|lb }}</td>
                                <td>{{ equipment.properties }}</td>
                                <td>{{ equipment.damage }}</td>
                                <td>{{ equipment.damageType }}</td>
                                <td>{{ equipment.armorClass }}</td>
                                <td>{{ equipment.strength }}</td>
                                <td>{{ equipment.stealth }}</td>
                                <td>{{ equipment.capacity }}</td>
                                <td>{{ equipment.speed }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
