{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Subtype</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Info</th>
                    <th scope="col">Damage</th>
                    <th scope="col">Damage Type</th>
                    <th scope="col">Armor Class</th>
                </tr>
                </thead>
                <tbody>
                    {% for equipmentType in equipmentTypeList %}
                        {# @var equipmentType App\Entity\DndEquipmentType #}
                        <tr>
                            <th colspan="9">{{ equipmentType.name }}</th>
                        </tr>
                        {# @var equipment App\Entity\DndEquipment #}
                        {% for equipment in equipmentType.dndequipment %}
                            <tr>
                                <th></th>
                                <th>{{ equipment.subtype.name }}</th>
                                <td>{{ equipment.name }}</td>
                                <td>{{ equipment.cost }}</td>
                                <td>{{ equipment.weight }}</td>
                                <td>{{ equipment.info }}</td>
                                <td>{{ equipment.damage }}</td>
                                <td>{{ equipment.damageType }}</td>
                                <td>{{ equipment.armorClass }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
