{% extends 'layout/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">

            <form>
                <div class="input-group input-group-sm mb-3">
                    <input  type="text"
                            name="q"
                            class="form-control"
                            placeholder="Search..."
                            value="{{ app.request.query.get('q') }}"
                    >
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <table class="table table-sm">
                <thead>
                <tr class="table-primary">
                    <th colspan="2">Name</th>
                    <th>Cost</th>
                    <th>Weight</th>
                    <th>Properties</th>
                    <th>Damage</th>
                    <th>Damage Type</th>
                    <th>Armor Class</th>
                    <th>Min strength</th>
                    <th>Stealth</th>
                    <th>Carrying capacity</th>
                    <th>Speed</th>
                </tr>
                </thead>
                <tbody>
                {# @var type \App\Entity\DndEquipmentType #}
                {# @var subtype \App\Entity\DndEquipmentSubtype #}
                {# @var equipment \App\Entity\DndEquipment #}
                {% for type in types %}
                    <tr class="table-secondary">
                        <th colspan="13">{{ type.name|trans({}, 'dnd') }}</th>
                    </tr>
                    {% for equipment in type.equipments %}
                        {% if equipment.subtype is null %}
                            <tr>
                                <td colspan="2">
                                    {% if equipment.image %}
                                        <span class="image-popover" data-toggle="image-popover" data-content="<img src='{{ asset(equipment.imagePath) }}' class='img-fluid' alt='{{ equipment.name }}'>">{{ equipment.name|trans({}, 'dnd') }}</span>
                                    {% else %}
                                        {{ equipment.name }}
                                    {% endif %}
                                </td>
                                {% include 'dnd_equipment/_table_part.html.twig' %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for subtype in type.subtypes %}
                        <tr class="">
                            <th colspan="13">{{ subtype.name }}</th>
                        </tr>
                        {% for equipment in subtype.equipments %}
                            <tr>
                                <td></td>
                                <td>
                                    {% if equipment.image %}
                                        <span class="image-popover" data-toggle="image-popover" data-content="<img src='{{ asset(equipment.imagePath) }}' class='img-fluid' alt='{{ equipment.name }}'>">{{ equipment.name }}</span>
                                    {% else %}
                                        {{ equipment.name }}
                                    {% endif %}
                                </td>
                                {% include 'dnd_equipment/_table_part.html.twig' %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
