{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">

            <table class="table table-sm">
                <thead>
                <tr class="table-primary">
                    <th>Subtype</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Weight</th>
                    <th>Info</th>
                    <th>Damage</th>
                    <th>Damage Type</th>
                    <th>Armor Class</th>
                </tr>
                </thead>
                <tbody>
                    {# @var equipmentType \App\Entity\DndEquipmentType #}
                    {# @var equipment \App\Entity\DndEquipment #}
                    {% for equipmentType in equipmentTypeList %}
                        <tr class="table-secondary">
                            <th colspan="8">{{ equipmentType.name }}</th>
                        </tr>
                        {% for equipment in equipmentType.dndEquipment %}
                            <tr>
                                <th>{{ equipment.subtype.name }}</th>
                                <td>{{ equipment.name }}</td>
                                <td>{{ equipment.cost|money }}</td>
                                <td>{{ equipment.weight }}</td>
                                <td>{{ equipment.info }}</td>
                                <td>{{ equipment.damage }}</td>
                                <td>{{ equipment.damageType }}</td>
                                <td>{{ equipment.armorClass }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
