{% form_theme form 'form/errors.html.twig' %}

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-xs-12 col-sm-4">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control-sm'}}) }}
            {{ form_help(form.name) }}
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            {{ form_label(form.class) }}
            {{ form_widget(form.class, {'attr': {'class': 'form-control-sm'}}) }}
            {{ form_help(form.class) }}
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            {{ form_label(form.race) }}
            {{ form_widget(form.race, {'attr': {'class': 'form-control-sm'}}) }}
            {{ form_help(form.race) }}
        </div>
    </div>

<div class="form-row">
    <div class="form-group col-xs-12 col-sm-4">
        {{ form_label(form.level) }}
        {{ form_widget(form.level, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.level) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4">
        {{ form_label(form.experience_points) }}
        {{ form_widget(form.experience_points, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.experience_points) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4">
        {{ form_label(form.money) }}
        {{ form_widget(form.money, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.money) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-xs-6 col-sm-4 col-md-2">
        {{ form_label(form.strength) }}
        {{ form_widget(form.strength, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.strength) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4 col-md-2">
        {{ form_label(form.dexterity) }}
        {{ form_widget(form.dexterity, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.dexterity) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4 col-md-2">
        {{ form_label(form.constitution) }}
        {{ form_widget(form.constitution, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.constitution) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4 col-md-2">
        {{ form_label(form.intelligence) }}
        {{ form_widget(form.intelligence, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.intelligence) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4 col-md-2">
        {{ form_label(form.wisdom) }}
        {{ form_widget(form.wisdom, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.wisdom) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4 col-md-2">
        {{ form_label(form.charisma) }}
        {{ form_widget(form.charisma, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.charisma) }}
    </div>
    <div class="form-group col-xs-12 col-sm-4 col-md-2">
        {{ form_label(form.armor_class) }}
        {{ form_widget(form.armor_class, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_help(form.armor_class) }}
    </div>
</div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-block btn-primary text-center" formnovalidate>{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
