{% extends 'layout/base.html.twig' %}

{% block title %}D&D character list{% endblock %}

{% block body %}
    <h1>Your D&D characters</h1>

    <table id="data-table" class="table table-sm table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Class</th>
                <th>Race</th>
                <th>Level</th>
                <th title="Experience points">XP</th>
                <th>Money</th>
                <th title="Strength">Str</th>
                <th title="Dexterity">Dex</th>
                <th title="Constitution">Con</th>
                <th title="Intelligence">Int</th>
                <th title="Wisdom">Wis</th>
                <th title="Charisma">Cha</th>
                <th title="Armor Class">AC</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dnd_character in dnd_characters %}
            <tr>
                <td>{{ dnd_character.id }}</td>
                <td>{{ dnd_character.name }}</td>
                <td>{{ dnd_character.class.name }}</td>
                <td>{{ dnd_character.race.name }}</td>
                <td>{{ dnd_character.level }}</td>
                <td>{{ dnd_character.experiencePoints }}</td>
                <td><nobr>{{ dnd_character.money|money }}</nobr></td>
                <td>{{ dnd_character.strength }}</td>
                <td>{{ dnd_character.dexterity }}</td>
                <td>{{ dnd_character.constitution }}</td>
                <td>{{ dnd_character.intelligence }}</td>
                <td>{{ dnd_character.wisdom }}</td>
                <td>{{ dnd_character.charisma }}</td>
                <td>{{ dnd_character.armorClass }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('dnd_character_show', {'id': dnd_character.id}) }}">
                        <i class="fas fa-eye"></i> <span class="hidden-xs">Show</span>
                    </a>
                    <a class="btn btn-sm btn-primary" href="{{ path('dnd_character_edit', {'id': dnd_character.id}) }}">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-primary" href="{{ path('dnd_character_new') }}"><i class="fas fa-plus-square"></i>  Create new</a>
{% endblock %}
