{% extends 'layout/base.html.twig' %}

{% block title %}D&D character{% endblock %}

{% block body %}

    <style>
        .badge-ability {
            padding: 0.3rem 0.5rem;
            display: inline-block;
            width: 50px;
        }
        .badge-modifier {
            padding: 0.3rem 0.5rem;
            display: inline-block;
            width: 25px;
        }
    </style>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h1>D&D character</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <span class="h5" title="{{ dnd_character.id }}">{{ dnd_character.name }}</span>
                    <span class="badge badge-dark float-right">{{ dnd_character.level }} lvl</span>
                    <span class="badge badge-primary float-right">{{ dnd_character.experiencePoints }} XP</span>
                    <br>
                    <span class="h6">{{ dnd_character.race.name }} {{ dnd_character.class.name }}</span>
                    <span class="h6 float-right">{{ dnd_character.money|money }}</span>
                    {#<span class="float-right"><i class="fa fa-shield-alt"></i> {{ dnd_character.armorClass }}</span>#}
                </div>
                <div class="card-body">
                    {% macro abilities(ability, name, modifier) %}
                        <span class="badge badge-primary badge-ability">{{ ability }} {{ name }}</span>
                        <span class="badge badge-primary badge-modifier">{{ modifier }}</span>
                    {% endmacro %}

                    {% import _self as this %}

                    {{ this.abilities(dnd_character.strength, 'str', dnd_character.modifier(dnd_character.strength)) }}
                    <br>
                    {{ this.abilities(dnd_character.dexterity, 'dex', dnd_character.modifier(dnd_character.dexterity)) }}
                    <br>
                    {{ this.abilities(dnd_character.constitution, 'con', dnd_character.modifier(dnd_character.constitution)) }}
                    <br>
                    {{ this.abilities(dnd_character.intelligence, 'int', dnd_character.modifier(dnd_character.intelligence)) }}
                    <br>
                    {{ this.abilities(dnd_character.wisdom, 'wis', dnd_character.modifier(dnd_character.wisdom)) }}
                    <br>
                    {{ this.abilities(dnd_character.charisma, 'cha', dnd_character.modifier(dnd_character.charisma)) }}
                    <br>



                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
                <div class="card-footer text-muted">
                    <a class="btn btn-sm btn-primary" href="{{ path('dnd_character_show', {'id': dnd_character.id}) }}">
                        <i class="fas fa-eye"></i> <span class="hidden-xs">Show</span>
                    </a>
                    <a class="btn btn-sm btn-primary" href="{{ path('dnd_character_edit', {'id': dnd_character.id}) }}">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
