{% extends 'emails/email-layout.html.twig' %}

{% block body_text %}
    {{- 'user.mailer.reset-password.txt'|trans({'%resetPasswordUrl%' : resetPasswordUrl}) -}}
{% endblock %}

{% block body_html_content %}
    {{- 'user.mailer.reset-password.html'|trans({'%resetPasswordUrl%' : resetPasswordUrl})|raw -}}

    <p>Hi {{ name }}!</p>
    <p>Somebody (hopefully you) requested a new password for your account. No changes have been made to your account yet.</p>
    <p>You can reset your password by clicking link below:</p>
    <p>
        <a href="{{ path('app_reset_password', {'token': token}) }}">
            {{ absolute_url(path('app_reset_password', {'token': token})) }}
        </a>
    </p>
    <p>Have a good day!</p>
    <p>Yours, <br>RPG-helper team.</p>


{% endblock %}