<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

        <div id="page">

            <div class="mh-head mh-sticky">
                <span class="mh-btns-right">
                    <a href="#menu"><i class="fas fa-bars"></i></a>
                    <a href="#page"><i class="fas fa-times"></i></a>
                </span>
                <span class="mh-text">RPG helper</span>
            </div>

            <div class="container-fluid mt-3">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}{% endblock %}
            </div>

        </div>

        <div id="loading"></div>

        <nav id="menu">
            <ul>
                <li><a href="#">Reference</a></li>
                <li><a href="#">My characters</a></li>
                <li><span>Add character</span>
                    <ul>
                        <li><a href="#">D&D</a></li>
                        <li><a href="#">Pathfinder</a></li>
                        <li><a href="#">Savage Worlds: Deadlands</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        {#<div class="footer">#}
            {#Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
        {#</div>#}

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>