<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

        <div id="page">

            <nav class="navbar navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand m-auto" href="#">RPG-Helper</a>
                <div class="collapse navbar-collapse" id="navbars">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">References</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My characters</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown">Add character</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">D&D</a>
                                <a class="dropdown-item" href="#">Pathfinder</a>
                                <a class="dropdown-item" href="#">Savage Worlds: Deadlands</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid mt-3">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}{% endblock %}
            </div>

        </div>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>